@charset "UTF-8";

body {
    background-color: #22ac6c;
    font-family: 標楷體;
}

html,
body {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/*flex style*/
.flexbox {
    display: flex;
    text-align: center;
}

.flexWrap-w {
    flex-wrap: wrap;
}

.flexJustifyContent-sa {
    justify-content: space-around;
}

.flexJustifyContent-sb {
    justify-content: space-between;
}

.flexJustifyContent-e {
    justify-self: end;
}

.flexJustifyContent-c {
    justify-content: center;
}

.f-direction-c {
    flex-direction: column;
}

.f-direction-rr {
    flex-direction: row-reverse;
}

/*pc width*/
.pc-col1 {
    width: 8.33%;
}

.pc-col2 {
    width: 16.66%;
}

.pc-col3 {
    width: 25%;
}

.pc-col4 {
    width: 33.32%;
}

.pc-col5 {
    width: 41.65%;
}

.pc-col6 {
    width: 50%;
}

.pc-col7 {
    width: 58.31%;
}

.pc-col8 {
    width: 66.64%;
}

.pc-col9 {
    width: 75%;
}

.pc-col10 {
    width: 83.3%;
}

.pc-col11 {
    width: 91.63%;
}

.pc-col12 {
    width: 100%;
}

.display-n {
    display: none;
}


.hyperlink {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.go_top {
    background-color: #000;
    border: 2px solid snow;
    padding: 5px 10px;
    text-decoration: none;
    color: snow;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px gold;
    font-size: 20px;
}

.go_top:hover {
    background-color: darkgreen;
}


.logo>img {
    width: 100%;
    max-height: auto;
    margin: 0;
    box-shadow: 0 0 10px black;
}

#main_logo {
    margin-top: 0;
}

#main {
    background-color: black;
}

/*mainnav style*/
.mainnav a {
    font-size: 1.8rem;
    color: snow;
    padding: 1.5vw;
}

.mainnav a:hover {
    color: #22ac6c;
    border: 2px solid #22ac6c;
    border-radius: 5% 5% 5% 5%;
    box-shadow: 0 0 12px #22ac6c;
}

#title {
    margin: 1.5vw 1.8vw;
}

#title img:hover {
    opacity: 0.8;
}

#main_menu {
    margin: 1.8vw 1.5vw;
}

#slogan {
    padding: 2vw;
    margin-top: 3vw;
    font-weight: bold;
    margin: 3vw 20vw;
}


#slogan p {
    font-size: 4.5vw;
    text-shadow: 0 0 5px snow;
}

/*product style*/

#product {
    padding: 5vw;
    margin: 3vw 25vw;
    background-color: #013f22;
    box-shadow: 0 0 10px black;
    border-radius: 15% 0% 0% 0%;
}

#product h3 {
    color: snow;
    font-size: 3vw;
}

#product h4 {
    color: snow;
    font-size: 2.5rem;
    margin: 1.8vw;
}

#product p {
    color: snow;
    font-size: 1.8rem;
    margin: 0 3vw;
}

/*effect style*/
#effect {
    padding: 5vw 3vw;
    margin-top: 7rem;
    background: #013f22;
    width: 93.95%;
    box-shadow: 0 0 10px black;
}

#effect h3 {
    color: snow;
    font-size: 3vw;
}

#effect p {
    color: snow;
    font-size: 1.8rem;
    margin: 1vw 2.8vw;
}

#effect>div>div>span:nth-of-type(1)>p {
    font-size: 2.2rem;
    margin: 1vw 1.5vw;
}


/*tea_mix style*/

#tea_mix {
    padding: 3vw;
    background-color: #006400;
    border-radius: 15% 0 0 0;
    margin: 25vw;
    box-shadow: 0 0 10px black;
}

#tea_mix h3 {
    font-size: 3vw;
    color: snow;
}

.tea {
    margin: 0 1.2vw;
    justify-content: center;
}


.tea>span>div>p {
    font-size: 2rem;
    color: snow;
    padding: 0 0.5vw;
}

.tea>span>div>p:hover {
    color: lawngreen;
    cursor: cell;
}

.price1,
.price2,
.price3 {
    border-bottom: 2px solid snow;
    margin-top: -2rem;
}


.tea1>p:nth-of-type(2),
.tea2>p:nth-of-type(2),
.tea3>p:nth-of-type(2) {
    color: red;
}

/*history style*/
#history {
    padding: 7vw;
}

#history h3 {
    font-size: 3vw;
    color: snow;
    padding: 1vw;
}

#history p {
    font-size: 1.8rem;
    color: snow;
    margin: 1vw;
}

#history img {
    width: 85%;
}


/*connection style*/
#connection {
    padding: 2vw 5vw;
    margin-top: 3vw;
    background-color: black;
}

#connection p {
    color: snow;
    font-size: 1.8rem;
}